* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
    padding: 12px;
    float: left;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

clearfix {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media (max-width: 1200px) {
    /* For tablet: */
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    /* For smartphones: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}


/* Offset */

.col-offset-0 {
    margin-left: 0;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}

.col-offset-12 {
    margin-left: 100%;
}

body {
    margin: 0px auto;
    max-width: 2000px;
}

header {
    background-image: url('https://i.ibb.co/PYQdZ8t/banner.jpg');
    min-height: 900px;
    height: 100%;
    background-size: cover;
}


/*Text */

h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    color: #949494;
}

.headertext {
    margin-top: 100px;
}


/* End Text*/

ul {
    list-style: none;
    margin: 0;
    padding: 9px;
    float: right;
}

ul > li {
    clear: both;
    display: inline-block;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    padding: 10px;
}

li > a {
    text-decoration: none;
}

li > .menutext {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.container .slogan {
    text-align: center;
    margin-top: 250px;
    padding: 25px;
}

.slogantext {
    color: white;
}

.slogan h1 {
    font-size: 2.5rem;
}

.slogan h2 {
    font-size: 80px;
    padding: 25px;
    transition: 1.3s;
}

h2:hover {
    color: red;
    transform: scale(1.3);
}


/*Section 2 */

section .two {
    text-align: center;
}

.iconcontainer {
    max-width: 1200px;
    max-height: 500px;
    text-align: center;
}

.servicecontainer {
    text-align: center;
}

.icontext {
    font-size: 30px;
    text-align: center;
}

.maintext {
    text-align: center;
    opacity: 0.9;
}

.icon {
    text-align: center;
}

.icon .fas {
    font-size: 60px;
    color: #f1c40f;
    border: 3px solid #f1c40f;
    padding: 20px;
    border-radius: 50%;
}


/* Section 3 */

.mainbox {
    margin: 0 auto;
    width: 100%;
}

.container .portfoliobox {
    background-color: #f1f1f1 
    min-height: 400px;
    width: 100vw;
    margin-top: 100px;
}

.galleryphoto {
    width: 100%;
    display: block;
    height: 200px;
    object-fit: cover;
}

.gallery-item {
    position: relative;
    background-color: #f1f1f1;
}

.gallery {
    transition: 1.3s;
}

.gallery:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 14px 24px 69px 5px rgba(0,0,0,0.75);
}

.gallerytext {
    text-align: center;
}


/*section 4*/

.circle-container {
    width: 1170px;
    margin-top: 50px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 50px;
    transition: 1.3s;
}

:nth-child(even) {
    flex-direction: row-reverse;
}

.item:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

.circle {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
}

.newstext {
    display: inline-block;
    width: 490px;
}

.circle-parent {
    position: relative;
}

.circle-parent::after {
    content: "";
    width: 3px;
    height: 200px;
    background: #f1f1f1;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.circle-parent2 {
    width: 190px;
    height: 190px;
    background-color: #f1c40f;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
    position: relative;
}

:nth child(even) {
    margin-top: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
}

.storytext {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
}

.titleright {
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

.titleleft {
    margin-right: 20px;
    text-align: right;
    margin-top: 20px;
}


/*Section 5 */

.team {
    background-color: #f1f1f1;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 1200px;
    justify-content: center;
}

.flex-item:nth-child(1) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 30px;
    justify-content: center;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 30px;
    justify-content: center;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    padding: 30px;
    justify-content: center;
}

.flex-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}

.teamphoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: 14px 24px 69px 5px rgba(0,0,0,0.75);
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.icon-box .fab {
    font-size: 10px;
    text-align: center;
    color: black;
    border: 3px solid black;
    padding: 20px;
    border-radius: 50%;
}


/*section 6*/

.logobox {
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.logobrand {
    max-width: 200px;
    height: 100px;
}


/*section 7 */

.input {
    margin: 20px 0 20px 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.contactbox {
    background-color: #222222;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.contactheader {
    color: white;
}

.footer a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    padding: 25px;
}

.team-icon:hover {
    transform: scale(1.2);
    z-index: 0;
    cursor: pointer;
    background-color: #f1c40f;
    color: #FFF;
    border-color: #FFF;
    transition-duration: 1s;
}

.button2 .btn {
    padding: 25px;
    font-weight: bold;
    margin-bottom: 50px;
}

p {
    padding-bottom: 0px;
}

.copy {
    padding-top: 20px;
}